{%extends "base.html"%}

{%block base_block%}

<div class="jumbotron">
  <h1 class="display-4 mainpage">Slam Book!</h1>
  <p class="lead">A slam book is a notebook (commonly the spiral-bound type) which is passed among children and teenagers. The keeper of the book starts by posing a question (which may be on any subject) and the book is then passed round for each contributor to fill in their own answer to the question.</p>
  <hr class="my-4">
  <p>You can Learn more about Slam book!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Slam_book" role="button">Learn more</a>
  </p>
</div>

{%endblock%}
