{%extends "base.html"%}

{%block base_block%}
{% load customtags %}
<style type="text/css"> 



    </style> 
<div class="container" style="height: 400px;overflow-y: scroll;">


{% for c in clist%}
<a href="{{c.hyperlink}}">
<div class="toast" data-autohide="false">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-grav"></i> {{c.typeofNotification.notif_header_message}}</strong>
        <small>{{c.date_time|timesince}} ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
    {{c.pk|concat_string:","|concat_string:c.date_time|concat_string:","|concat_string:c.date_time}}
     <div>{{c.pk|format_message:"1,2,3,4"}} {{c.fr}}</div>
    
        
        
    </div>
</div>
</a>

{%endfor%}
</div>


<script>
 $(document).ready(function() {
        $(".toast").toast('show');
 });
 </script>
{%endblock%}